* {
  font-family:'Times New Roman', Times, serif!important;
}

.admin-products-table-container {
  margin-left: 18%;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}

.admin-products-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.admin-products-button-container {
  display: flex;
  justify-content: flex-end; 
  align-items: end;
}

.admin-products-add-product-btn {
  margin-top: 0!important;
  margin: 15px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  transition: background 0.5s ease-in-out;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.25rem;
}

.admin-products-add-product-btn:hover {
  background: linear-gradient(135deg, #214458, #2a4a5e, #3b647e);
}
/* Table Styling */
.admin-products-table {
  box-shadow: 0px 0px 7px 0px #00000040;
  background: #FFFFFF;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  table-layout: fixed;
  border-radius: 30px; /* Rounded corners on the table */
  overflow: hidden;
}

/* Header cells */
.admin-products-table th {
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  text-align: left;
  white-space: nowrap;
  user-select: none; /* Prevent accidental selection */
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: auto;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
}

/* Table rows */
.admin-products-table td {
  text-align: left;
  padding: 12px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  font-size: 1.25rem;
  border: none; /* Remove badmin-products from cells */
}

.admin-products-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.admin-products-info {
  font-size: 1.15rem;
}

.admin-products-edit-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
}
      
.admin-products-edit-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.admin-products-delete-icon{
  width: 20px; /* Adjust size as needed */
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.admin-products-delete-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.admin-products-table tr {
  border-bottom: 1px solid #e0e0e0;
}

.delete-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
.no-admin-products-message{
  text-align: center!important;
  padding: 20px;
  font-size: 18px;
}

.admin-products-resizer {
  width: 2px;
  height: 60%;
  cursor: col-resize;
  position: absolute;
  background-color:  #01040304!important;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 12px!important;
}

.admin-products-resizer:hover{
  background-color:  #aab0ae57!important;
}

  .admin-products-table tr {
      border-bottom: 1px solid #e0e0e0;
  }
  
  .no-admin-products-message {
      text-align: center!important;
      padding: 20px;
      font-size: 18px;
  }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      gap: 10px;
    }
    
    .pagination button {
      padding: 5px 10px;
      border: 1px solid #0f2027;
      background-color: transparent;
      color: #2c5364;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s;
    }
    
    .pagination button.active {
      background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
      transition: background 0.5s ease-in-out;
      color: white;
    }
    
    .pagination button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    
    .pagination button:hover:not(:disabled) {
      background: linear-gradient(135deg, #214458, #2a4a5e, #3b647e);
      color: white;
    }
    /* Responsive adjustments */
@media (max-width: 768px) {

  .admin-products-filters-button {
      font-size: 12px;
      padding: 4px 5px;
  }

  .admin-products-table th,
  .admin-products-table td {
    font-size: 14px;
    padding: 8px;
  }
  .admin-products-add-product-btn {
    padding: 8px;
    font-size: 1rem;
  }
  .admin-products-edit-icon {
    width: 10px; /* Adjust size as needed */
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .admin-products-delete-icon{
    width: 10px; /* Adjust size as needed */
    height: 10px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .admin-products-table-container{
      margin-left: 30%;
  }
 
  .admin-products-filters-button {
      font-size: 16px;
  }

  .admin-products-table th,
  .admin-products-table td {
    padding: 12px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .admin-products-table-container{
      margin-left: 25%;
  }
}

@media (min-width: 1201px) and (max-width: 1275px) {
  .admin-products-table-container{
      font-size: 14px;
  }
  .admin-products-table th,
  .admin-products-table td {
    font-size: 15px;
  }
}

    
